@font-face {
    font-family: IRANSans;
    src: url(~@/assets/fonts/woff/IRANSansWeb.woff?1532072864) format('woff');
    //src: url(../fonts/eot/sans.eot?&1532072864#iefix) format('embedded-opentype'), url(../fonts/woff2/IRANSansWeb_Black.woff2?1532072864) format('woff2'), url(../fonts/woff/IRANSansWeb_Black.woff?1532072864) format('woff'), url(../fonts/ttf/IRANSansWeb_Black.ttf?1532072864) format('truetype');
    font-weight: 900;
    font-style: normal
}
#app{
    font-family: IRANSans, Helvetica Neue, Roboto, Arial, Droid Sans, sans-serif;
}
